<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5 add-artwork">
    <h2>Your Personal Artist Profile</h2>
      <div>
          <div>
              <p class="welcome-text">Welcome <%= user.userName %>!</p>
          </div>
          <div>
            <h3>Add Artwork</h3>
            <form action="/post/createPost" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <label for="title" class="form-label">Title</label>
                  <input type="text" class="form-control" id="title" name="title">
              </div>
              <div class="mb-3">
                <label for="caption" class="form-label">Caption</label>
                <textarea class="form-control" id="caption" name="caption"></textarea>
              </div>
              <div class="mb-3">
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <button type="submit" class="btn btn-success submit-artwork" value="Upload">Submit</button>
            </form>
          </div>
      </div>
      <div>
        <ul class="row list-unstyled profile-art">
        <% for(var i=0; i<posts.length; i++) {%>
          <li>
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid gallery-art" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul> 
      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') -%>